html {
  box-sizing: border-box;
}

*,
::before,
::after {
  box-sizing: inherit;
}

img {
  display: block;
  width: 100%;
  height: auto;
}

h1,
h2,
h3,
p {
  margin: 0;
}

.container {
  width: 100%;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

/* --------------MOBILE FIRST-------------- */
/* --------------HEADER-------------------- */

.logo-header {
  display: flex;
  justify-content: center;
  padding-top: 12px;
  padding-bottom: 20px;
}

.nav {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #dddddd;
  border-top: 1px solid #dddddd;
  padding: 15px;
}

.nav-item {
  display: flex;
  gap: 20px;
}

.header-btn {
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.mob-menu {
  position: fixed;
  top: 0;
  z-index: 1;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  overflow: auto;
  background-color: #ebebeb;
}

.mob-menu-modal-close {
  border: none;
  background-color: transparent;
  margin-top: 20px;
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mob-menu-list {
  list-style: none;
  margin: 0;
  padding: 0;
  padding-top: 22px;
  gap: 50px;
  display: flex;
  flex-direction: column;
}

.hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.mob-menu-link {
  text-decoration: none;
  color: #4c5866;
  font-family: Roboto;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.logo-mob {
  background-color: white;
}

.hero {
  padding-top: 49px;
  padding-bottom: 49px;
}

.hero-title {
  color: #4c5866;
  font-family: Roboto;
  font-size: 30px;
  font-style: normal;
  font-weight: 400;
  line-height: 1;
  margin-bottom: 15px;
}

.hero-text {
  color: #85859b;
  font-family: Roboto;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.5;
  margin-bottom: 21px;
}

.hero-btn {
  width: 144px;
  height: 50px;
  background-color: transparent;
  border: 1px solid #7875fe;
  color: #7875fe;
  font-family: Roboto;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  cursor: pointer;
}

.result {
  background-color: #ebebeb;
}

.result-list {
  list-style: none;
  padding: 60px 0 60px 0;
  margin: 0;
}

.result-img {
  width: 130px;
  height: 96px;
  padding-top: 20px;
}

.result-item {
  display: flex;
  gap: 30px;
  border-top: 1px solid #c0c0c0;
  margin-bottom: 20px;
  align-items: flex-end;
}

.result-title {
  color: #666;
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;

  line-height: 1.5;
}

.result-text {
  color: #85859b;
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.5;
}

.result-big {
  margin-bottom: 20px;
}

.result-big-title {
  color: #666;
  font-family: Roboto;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: 1;
  margin-bottom: 14px;
}

.result-big-text {
  color: #85859b;
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.7;
  padding-bottom: 60px;
}

.catalog-list {
  display: flex;
  gap: 60px;
  list-style: none;
  flex-wrap: wrap;
  padding: 60px 0 60px 0;
  margin: 0;
}

.catalog-img {
  margin-bottom: 20px;
}

.catalog-title {
  color: #666;
  font-family: Roboto;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-bottom: 4px;
}

.catalog-subtitle {
  color: #b5b5bd;
  font-family: Roboto;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-bottom: 8px;
}

.catalog-text {
  color: #85859b;
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.7;
  margin-bottom: 30px;
}

.catalog-btn {
  color: #7875fe;
  font-family: Roboto;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;

  text-decoration: none;
}

.sponsor {
  background-color: #ebebeb;
  padding-top: 60px;
  padding-bottom: 60px;
}

.sponsor-list {
  display: flex;
  gap: 30px;
  justify-content: center;
}

.sponsor-img {
  width: 115px;
  height: 32px;
}
.sponsor-link {
  width: 140px;
  height: 80px;
  border: 1px solid #c4c4c4;
  display: flex;
  justify-content: center;
  align-items: center;
}

.scretchbook {
  padding-top: 60px;
  padding-bottom: 60px;
}

.scretchbook-title {
  color: #666;
  font-family: Roboto;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: 1;
  margin-bottom: 20px;
}

.scretchbook-text {
  color: #85859b;
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.7;
  margin-bottom: 30px;
}

.footer {
  background-color: #4c5866;
}

.logo-footer {
  display: flex;
  justify-content: center;
  padding-top: 20px;
  padding-bottom: 20px;
}

.footer-list {
  margin: 0;
  padding: 20px 0 20px 0;
  display: flex;
  gap: 30px;
  justify-content: center;
  border-top: 1px solid #ddd;
}
